table {
    padding: 20px;
    width: 1500px;
    margin: 100px auto;
    color: #787a7c;
    border-spacing: 15px 0px;
    
    .wrap {
        overflow-wrap: anywhere;
    }
    
    .short {
        width: 0;
        white-space: nowrap;
    }
}

.color-yellow {
    color: #b79f75;
}

.color-red {
    color: #e14949;
}

tr {
    height: 30px;

    td {
        font-size: 14px;
    }
}

th {
    text-align: left;
}

