<button (click)="closeView()">Return</button>
<table>
    <tr>
        <th>Sender</th>
        <th>Content</th>
    </tr>
    <tr *ngFor="let log of fileContent.content | slice:fileContent.endOfBeginningIndex:fileContent.beginningOfEndIndex">
        <td class="short" >{{ log.initiator }}</td>
        <td class="wrap" >
            <span 
                *ngFor="let word of log.sentence" 
                [style.color]="word.color" 
                >
                {{ word.text }}
            </span>
        </td>
    </tr>
</table>